{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

{# Message si user pas connecté #}

{% if not app.user %}

<p class="titre-page"> Connectez vous pour accéder au contenu. </p>

{% else %}

<div class="titre-page">
    <h1> Bienvenue sur votre tableau de bord, {{ app.user.prenom}} {{app.user.nom }}</h1>
</div>

<div class="table-container">
    <h2>Sessions en cours : </h2>

    {% if not sessionsEnCours %}

    <p class="titre-page"> Pas de sessions en cours.</p>

    {% else %}

    <table id="responsive-table">
        <thead>
            <tr>
                <th>Formation</th>
                <th>Nom de la session </th>
                
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th> Statut </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsEnCours %}
            <tr>
                <td data-label ="Formation">{{session.formation.nomFormation}}</td>
                <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}} <i class="fa-regular fa-rectangle-list"></i></a></td>
                <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
                <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
                <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
                {# Si il y a autant de stagiaires inscrits que de place, on affiche session complète, sinon cellule vide#}
                {% if session.stagiaires|length == session.nbPlace %}
                <td data-label ="Statut"> <span class="red-background">Session complète </span></td>
                {% else %}
                <td></td>
            </tr>
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>
    {% endif %}

        

    <h2>Sessions à venir : </h2>

    {% if not sessionsAVenir %}

    <p class="titre-page"> Pas de sessions à venir. </p>

    {% else %}

    <table id="responsive-table">
        <thead>
            <tr>
                
                <th>Formation</th>
                <th>Nom de la session </th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th> Statut </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsAVenir %}
            <tr>
                <td data-label ="Formation">{{session.formation.nomFormation}}</td>
                <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}} <i class="fa-regular fa-rectangle-list"></i></a></td>
                <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
                <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
                <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
                {# Si il y a autant de stagiaires inscrits que de place, on affiche session complète, sinon cellule vide#}
                {% if session.stagiaires|length == session.nbPlace %}
                <td data-label ="Statut"><span class="red-background"> Session complète </span></td>
                {% else %}
                <td></td>
            </tr>
            
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>
    {% endif %}


    <h2>Sessions passées: </h2>

    {% if not sessionsPassees %}

    <p class="titre-page"> Pas sessions passées. </p>

    {% else %}

    <table id="responsive-table">
        <thead>
            <tr>
                
                <th>Formation</th>
                <th>Nom de la session </th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                <th> Statut </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsPassees %}
            <tr>
                <td data-label ="Formation">{{session.formation.nomFormation}}</td>
                <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}} <i class="fa-regular fa-rectangle-list"></i></a></td>
                <td data-label ="Début"> {{session.dateDebut|date('d/m/Y')}}</td>
                <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
                <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
                {# Si il y a autant de stagiaires inscrits que de place, on affiche session complète, sinon cellule vide#}
                {% if session.stagiaires|length == session.nbPlace %}
                <td data-label ="Statut"><span class="red-background">Session complète</span> </td>
                {% else %}
                <td></td>
            </tr>
            
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>
</div>

{% endif %}
{% endif %}
{% endblock %}
