{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}

{% if not app.user %}

<p class="titre-page"> Connectez vous pour accéder au contenu. </p>

{% else %}
<div class="titre-page">
<h1> Bienvenue sur votre tableau de bord, {{ app.user.prenom}} {{app.user.nom }}</h1>
</div>

<div class="table-container">
<h2>Sessions en cours : </h2>

<table id="responsive-table">
    <thead>
        <tr>
            <th>Formation</th>
            <th>Nom de la session </th>
            
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th> Statut </th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        {% if session.dateDebut|date('d/m/Y') <= 'now'|date('d/m/Y') and session.dateFin|date('d/m/Y') >= 'now'|date('d/m/Y')%}
        <tr>
            <td data-label ="Formation">{{session.formation.nomFormation}}</td>
            <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}}</a></td>
            <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
            <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
            <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
            {% if session.stagiaires|length == session.nbPlace %}
            <td> Session complète </td>
            {% else %}
            <td></td>
        </tr>
         {% endif %}
        {% endif %}
        {% endfor %}  
    </tbody>
</table>

        

<h2>Sessions à venir : </h2>

<table id="responsive-table">
    <thead>
        <tr>
            
            <th>Formation</th>
            <th>Nom de la session </th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th> Statut </th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        {% if session.dateFin|date('d/m/Y') > 'now'|date('d/m/Y') and session.dateDebut|date('d/m/Y') > 'now'|date('d/m/Y') %}
        <tr>
            <td data-label ="Formation">{{session.formation.nomFormation}}</td>
            <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}}</a></td>
            <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
            <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
            <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
            {% if session.stagiaires|length == session.nbPlace %}
            <td> Session complète </td>
            {% else %}
            <td></td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}  
    </tbody>
</table>


<h2>Sessions passées: </h2>

<table id="responsive-table">
    <thead>
        <tr>
            
            <th>Formation</th>
            <th>Nom de la session </th>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Inscrits</th>
            <th> Statut </th>
        </tr>
    </thead>
    <tbody>
        {% for session in sessions %}
        {% if session.dateFin|date('d/m/Y') < 'now'|date('d/m/Y') %}
        <tr>
            <td data-label ="Formation">{{session.formation.nomFormation}}</td>
            <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}}</a></td>
            <td data-label ="Début"> {{session.dateDebut|date('d/m/Y')}}</td>
            <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
            <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
            {% if session.stagiaires|length == session.nbPlace %}
            <td> Session complète </td>
            {% else %}
            <td></td>
        </tr>
        {% endif %}
        {% endif %}
        {% endfor %}  
    </tbody>
</table>
</div>
{% endif %}
{% endblock %}
