{% extends 'base.html.twig' %}

{% block title %} Liste des stagiaires {% endblock %}

{% block body %}

<div class="add-form-shadow">

    <h1 class="titre-page"> Ajouter un stagiaire </h1>

    <div class="add-form">
    {{form_start(formAddStagiaire)}}
    {{form_row(formAddStagiaire.nom)}}
    {{form_row(formAddStagiaire.prenom)}}
    {{form_row(formAddStagiaire.dateNaissance)}}
    {{form_row(formAddStagiaire.telephone)}}
    {{form_row(formAddStagiaire.adresse)}}
    <div class="form-add-submit">
    {{form_row(formAddStagiaire.submit)}}
    </div>
    {{form_end(formAddStagiaire)}}
    </div>
</div>


{% endblock %}
