{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}

{% if not app.user %}

<p class="titre-page"> Connectez vous pour accéder au contenu. </p>

{% else %}

<div class="titre-page">
<h1>{{session.nomSession}}</h1>
</div>

<div class="details-contenu">
<p> <span class="bold">Formateur référent : </span> {{session.formateur.nom}} {{session.formateur.prenom}}</p>
<p>  <span class="bold"> Date de début : </span> {{session.dateDebut|date('d/m/Y')}}</p>
<p>  <span class="bold"> Date de fin : </span> {{session.dateFin|date('d/m/Y')}} </p>
<p>  <span class="bold"> Nombre de places : </span> {{session.nbPlace}}</p>
<p>  <span class="bold"> Nombre de places disponibles : </span> {{session.nbPlace - session.stagiaires|length}}</p>
<p>  <span class="bold"> Nombre de modules : </span> {{session.programmes|length}} ( {% for programme in session.programmes %} {{programme.modules.nomModule}} {% endfor %})</p>
</div>

<div class="session-detail-container">

<div class="session-stagiaire">
<h2> Stagiaires inscrits </h2>

<table class="table-session-details">
    <thead>
        <tr>
            <th>Stagiaires</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Desinscrire</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in session.stagiaires %}
        <tr>
            <td><a href="{{path ('detail_stagiaire', {id : stagiaire.id })}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a></td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('unsubscribe_stagiaire', {id : stagiaire.id, idsession : session.id })}}"><i class="fa-solid fa-user-xmark"></i></a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2> Stagiaires non inscrits </h2>

<table class="table-session-details">
    <thead>
        <tr>
            <th>Stagiaires</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Inscrire</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in nonInscrits %}
        <tr>
            <td><a href="{{path ('detail_stagiaire', {id : stagiaire.id })}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a></td>
            {% if session.nbPlace > session.stagiaires|length%}
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('subscribe_stagiaire', {id : stagiaire.id, idsession : session.id })}}"><i class="fa-solid fa-user-plus"></i></a></td>
            {% endif %}
            {% else %}
                <td> Complet </td>
        </tr>
        {% endif %}
        {% endfor %}
        
    </tbody>
</table>
</div>

<div class="session-programme">
<h2> Programme </h2>

<table class="table-session-details">
    <thead>
        <tr>
            <th>Module</th>
            <th>Categorie</th>
            <th>Durée</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for programme in session.programmes %}
        <tr>
            <td>{{programme.modules.nomModule}}</td>
            <td>{{programme.modules.categorie.nomCategorie}}</td>
            <td>{{programme.duree}}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('remove_module', {id : programme.id, idsession : session.id })}}"><i class="fa-regular fa-calendar-xmark"></i></a></td>
            {% endif %}
        </tr>
        {% endfor %}
        <tr>
            <th class="th-duree">Durée totale : 
            {% set totalJour = 0 %}
            {% for module in session.programmes %}
                                {% set totalJour = totalJour + module.duree %}
                                
                                {% endfor %}  
                                
            </th>
        <th class="th-duree"></th>
        <th class="th-duree">{{ totalJour }}</th>
        {% if is_granted('ROLE_ADMIN') %}
        <th class="th-duree"></th>
        {% endif %}
        </tr>
    </tbody>
</table>
<div class="modules-non-programmes">
<h2> Modules non programmés </h2>
<i class="fa-solid fa-chevron-up"></i>
</div>

<table class="table-session-details-non-programmes">
    <thead>
        <tr>
            <th>Module</th>
            <th>Categorie</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Durée</th>
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    
        {% for module in nonProgrammes %}
        
        <form action="{{path ('add_module', {id : module.id, idsession : session.id })}}" method="post">
        <tr>
            <td> {{module.nomModule}} </td>
            <td> {{module.categorie.nomCategorie}} </td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><input name = 'duree' id="{{module.id}}" type="number" value="0" min="0" class="input-duree"/> jours</td>
            <td><button type="submit" name="submit" class="submit-button"><i class="fa-regular fa-calendar-plus"/></i></button></td>
            {% endif %}
        </tr>
        </form>
        {% endfor %}
        
        
      
        
    </tbody>
</table>
</div>
</div>

{% endif %}

{% endblock %}
