{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}



<h1>{{session.nomSession}}</h1>

<p> Formateur référent : {{session.formateur.nom}} {{session.formateur.prenom}}</p>
<p> Date de début : {{session.dateDebut|date('d/m/Y')}}</p>
<p> Date de fin : {{session.dateFin|date('d/m/Y')}} </p>
<p> Nombre de places : {{session.nbPlace}}</p>
<p> Nombre de places disponibles : {{session.nbPlace - session.stagiaires|length}}</p>
<p> Nombre de modules : {{session.programmes|length}} ( {% for programme in session.programmes %} {{programme.modules.nomModule}} {% endfor %})</p>

<h2> Stagiaires inscrits </h2>

<table>
    <thead>
        <tr>
            <th>Stagiaires</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Desinscrire</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in session.stagiaires %}
        <tr>
            <td><a href="{{path ('detail_stagiaire', {id : stagiaire.id })}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a></td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('unsubscribe_stagiaire', {id : stagiaire.id, idsession : session.id })}}">Desinscrire</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2> Stagiaires non inscrits </h2>

<table>
    <thead>
        <tr>
            <th>Stagiaires</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Inscrire</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for stagiaire in nonInscrits %}
        <tr>
            <td><a href="{{path ('detail_stagiaire', {id : stagiaire.id })}}">{{stagiaire.prenom}} {{stagiaire.nom}}</a></td>
            {% if session.nbPlace > session.stagiaires|length%}
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('subscribe_stagiaire', {id : stagiaire.id, idsession : session.id })}}">Inscrire</a></td>
            {% endif %}
            {% else %}
                <td> Complet </td>
        </tr>
        {% endif %}
        {% endfor %}
        
    </tbody>
</table>

<h2> Programme </h2>

<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>Categorie</th>
            <th>Durée</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for programme in session.programmes %}
        <tr>
            <td>{{programme.modules.nomModule}}</td>
            <td>{{programme.modules.categorie.nomCategorie}}</td>
            <td>{{programme.duree}}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('remove_module', {id : programme.id, idsession : session.id })}}">Déprogrammer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
        
            <th>Durée totale : 
            {% set totalJour = 0 %}
            {% for module in session.programmes %}
                                {% set totalJour = totalJour + module.duree %}
                                
                                {% endfor %}  
                                {{ totalJour }} jours 
                                
            </th>
        </tr>
    </tbody>
</table>

<h2> Modules non programmés </h2>

<table>
    <thead>
        <tr>
            <th>Module</th>
            <th>Categorie</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Durée</th>
            <th>Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    
        {% for module in nonProgrammes %}
        
        <form action="{{path ('add_module', {id : module.id, idsession : session.id })}}" method="post">
        <tr>
            <td> {{module.nomModule}} </td>
            <td> {{module.categorie.nomCategorie}} </td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><input name = 'duree' id="{{module.id}}" type="number" value="0" min="0"/></td>
            <td><input type="submit" name="submit" value="Programmer"/></td>
            {% endif %}
        </tr>
        </form>
        {% endfor %}
        
        
      
        
    </tbody>
</table>

{% endblock %}
