{% extends 'base.html.twig' %}

{% block title %} Liste des sessions {% endblock %}

{% block body %}

{# Message d'erreur si pas connecté #}

{% if not app.user %}

<p class="titre-page"> Connectez vous pour accéder au contenu. </p>

{% else %}

<div class="titre-page">
    <h1> Liste des sessions </h1>

    {# Bouton ajouter une session si l'utilisateur est admin #}
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{path ('add_session')}}"> <i class="fa-regular fa-square-plus"></i> Ajouter une session </a> 
    {% endif %}
</div>

<div class="table-container">
    
    <h2>Sessions en cours : </h2>

    {% if not sessionsEnCours %}

    <p class="titre-page"> Pas sessions en cours. </p>

    {% else %} 

    <table id="responsive-table">
        <thead>
            <tr>
                <th>Formation</th>
                <th>Nom de la session </th>
                
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                {# Colonne Actions si User est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
                <th> Statut </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsEnCours %}
            <tr>
                <td data-label ="Formation">{{session.formation.nomFormation}}</td>
                <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}} <i class="fa-regular fa-rectangle-list"></i></a></td>
                <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
                <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
                <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
                {# Ligne supprimer et editer si User est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <td data-label ="Actions"><a href="{{path ('edit_session', {id : session.id })}}"><i class="fa-solid fa-pen-to-square"></i></a> <a href="{{path ('delete_session', {id : session.id })}}"><i class="fa-solid fa-trash"></i></a></td>
                {% endif %}
                {# Si il y a autant de stagiaires inscrits a la session que de place, on affiche session complete. Sinon, cellule vide. #}
                {% if session.stagiaires|length == session.nbPlace %}
                <td> Session complète </td>
                {% else %}
                <td></td>
            </tr>
            
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>
    {% endif %}

    <h2>Sessions à venir : </h2>

    {% if not sessionsAVenir %}

    <p class="titre-page"> Pas sessions à venir. </p>

    {% else %}  

    <table id="responsive-table">
        <thead>
            <tr>
                <th>Formation</th>
                <th>Nom de la session </th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                {# Colonne Actions si User est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
                <th> Statut </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsAVenir %}
            <tr>
                <td data-label ="Formation">{{session.formation.nomFormation}}</td>
                <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}} <i class="fa-regular fa-rectangle-list"></i></a></td>
                <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
                <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
                <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
                {# Ligne supprimer et editer si User est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <td data-label ="Actions"><a href="{{path ('edit_session', {id : session.id })}}"><i class="fa-solid fa-pen-to-square"></i></a> <a href="{{path ('delete_session', {id : session.id })}}"><i class="fa-solid fa-trash"></i></a></td>
                {# Si il y a autant de stagiaires inscrits a la session que de place, on affiche session complete. Sinon, cellule vide. #}
                {% if session.stagiaires|length == session.nbPlace %}
                <td> Session complète </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>
    {% endif %}


    <h2>Sessions passées: </h2>

    {% if not sessionsPassees %}

    <p class="titre-page"> Pas sessions passées. </p>

    {% else %}

    <table id="responsive-table">
        <thead>
            <tr>
                <th>Formation</th>
                <th>Nom de la session </th>
                
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
                {# Colonne Actions si User est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <th>Actions</th>
                {% endif %}
                <th> Statut </th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessionsPassees %}
             {# Session passées : si la date de fin est inférieure a la date du jour  #}
            <tr>
                <td data-label ="Formation">{{session.formation.nomFormation}}</td>
                <td data-label ="Session"><a href="{{path ('detail_session', {id : session.id })}}">{{session.nomSession}} <i class="fa-regular fa-rectangle-list"></i></a></td>
                <td data-label ="Début">{{session.dateDebut|date('d/m/Y')}}</td>
                <td data-label ="Fin">{{session.dateFin |date('d/m/Y')}}</td>
                <td data-label ="Inscrits">{{session.stagiaires|length}} / {{session.nbPlace}}</td>
                {# Ligne supprimer et editer si User est admin #}
                {% if is_granted('ROLE_ADMIN') %}
                <td data-label ="Actions"><a href="{{path ('edit_session', {id : session.id })}}"><i class="fa-solid fa-pen-to-square"></i></a> <a href="{{path ('delete_session', {id : session.id })}}"><i class="fa-solid fa-trash"></i></a></td>
                {# Si il y a autant de stagiaires inscrits a la session que de place, on affiche session complete. Sinon, cellule vide. #}
                {% if session.stagiaires|length == session.nbPlace %}
                <td> Session complète </td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endif %}
            {% endfor %}  
        </tbody>
    </table>
</div>
{% endif %}
{% endif %}

{% endblock %}
