{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}
<div class="titre-page">
<h1> Informations de {{formateur.prenom}} {{formateur.nom}} </h1>
</div>

<div class="details-contenu">
<p> <span class="bold"> Prenom  :</span> {{formateur.prenom}} </p>
<p> <span class="bold">Nom :</span> {{formateur.nom}} </p>
<p> <span class="bold">Date de naissance :</span> {{formateur.dateNaissance |date('d/m/Y')}} </p>
<p> <span class="bold">Telephone :</span> {{formateur.telephone}} </p>
<p> <span class="bold">Adresse :</span> {{formateur.adresse}} </p>
</div>

<h2> Sessions du Formateur </h2>

{% for session in sessions %}
{% if formateur.id == session.formateur.id %}

{{session.nomSession}} <br>

{% endif %}
{% endfor %}
{% endblock %}
