{% extends 'base.html.twig' %}

{% block title %}Hello FormateurController!{% endblock %}

{% block body %}

<h1>Liste des formateurs</h1>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{path ('add_formateur')}}">Ajouter un formateur</a>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            {% if is_granted('ROLE_ADMIN') %}
            <th>Gerer</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for formateur in formateurs %}
        <tr>
            <td><a href="{{path ('detail_formateur', {id : formateur.id })}}">{{formateur.prenom}}</a></td>
            <td>{{formateur.nom}}</td>
            {% if is_granted('ROLE_ADMIN') %}
            <td><a href="{{path ('edit_formateur', {id : formateur.id })}}">Editer</a> <a href="{{path ('delete_formateur', {id : formateur.id })}}">Supprimer</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
